.gl-filtered-search-binary-token {
  @include gl-display-inline-flex;
  @include gl-white-space-nowrap;
}

.gl-filtered-search-binary-token-input {
  @include gl-p-0;
  @include gl-pl-2;
  @include gl-border-none;
  @include gl-outline-none;
  min-width: $gl-dropdown-width;
}
